// font-family: 'Roboto Condensed', sans-serif;
//font-family: 'Quicksand', sans-serif;

$font-headline: 'Roboto Condensed', sans-serif;
$font-text: 'Quicksand', sans-serif;

$color-gray: #888;
$color-white: #fff;
$color-black: #000;

//black text
$color-purple: #957a89;//header
$color-lightPurple: #dcd0d1;//project
$color-pink: #634e51;//competences

//white text
$color-green: #86927d;//about
$color-purpleAbout: #d1b7c5;
$color-blue: #738a9c;//contact



